<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <title>To Do List</title>
</head>
<body>
    <header>
        Todo App by Chris Lopez in 2 hours.
        <h2> Made using Flask along with vanilla HTML, JS, and CSS. </h2>
        <a href="https://github.com/CSE437s/week-2-todo-app-bChris6">Here is the github repo:</a>
    </header>
    <main>
        <form>
            <input type="text" name="item" placeholder="Add To Do" id="TodoInput"><br>
            <button type="submit" id="TodoSubmit">Submit</button>
        </form>

        <ul id="TodoList">
        </ul>

        <button type="button" id="strikeOrDelete"> Delete </button>
    </main>
    <script src="/static/todoList.js"></script>

</body>
</html>